{% extends 'base.html' %}
{%load static %}
  
 


{% block content %}



<section id="menu" class="menu">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <br>
      <p>Nosso <span>Menu</span></p>
      <!--- BARRA DE PESQUISA -->

      <form class="d-flex" role="search" method="POST" action="{% url 'search' %}">
        <!--<input class="form-control me-2" type="search" placeholder="Nome do produto" aria-label="Search" style="border-radius: 30px;">-->
          {% csrf_token %}
          {{search_form.name_of_produto}}
          <button class="btn btn-warning" type="submit" style="border-radius: 30px;">Pesquisar</button>
        </form>
  
        <!----   BARRA DE PESQUISA -->
    </div>




    <!---produtos--->


    <div class = 'container'>
      <div class = 'row'>
      {% if search_produto %}
      {%for product in search_produto %}
      
      
      <div class = 'col-md-4 col-lg-4'>
        <div class="card" style="width: 18rem; background-color: rgba(43, 43, 43, 0.02);">
            <img src="{{product.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title" style=" position: relative; color: blanchedalmond;">{{product.name}}</h3>
              <h4 class="card-text" style=" position: relative; left: 75px; color: rgb(255, 237, 37);">R$  {{product.price}}</h4>
              <a  class="btn btn-primary addtocart" style="border-color: rgb(205, 79, 79); background-color: rgb(251, 8, 8); position: relative; left: 75px;" data-action = "add" data-product = "{{product.id}}">Adicionar</a>
            </div>
          </div>
        </div>

       
      
  
        {%endfor%}
        {% else %}
        <div class = 'row'>
            <h3 style="color: rgb(247, 87, 24);">Infelizmente não encontramos o que deseja! 😕 </h3>
           
        </div>

        {% endif %}

       
  
      </div>
    </div>
  

  
  


    <!-----Produtos-->



  </div>

  <div class="d-flex" data-aos="fade-up" data-aos-delay="300" >
    <a href="{% url 'store' %}" style="color: aliceblue;"><button class="btn btn" style="border-radius: 30px; background-color: rgb(234, 39, 39);">Voltar</button></a>
  </div>

  


</section>         





{%endblock%}

