{% extends 'base.html' %}
{%load static %}



{% block content %}


<!-----------------------------------------------PRODUTOS---------------------------------------------->

 <!-- ======= Hero Section ======= -->
 <section id="hero" class="hero d-flex align-items-center section-bg">
  <div class="container">
    <div class="row justify-content-between gy-5">

      <!--------------------             SLIDE BANNER PARTE AMARELA               ---------------------------->



      <!-- CARROSSEL -->
 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators" style="bottom: 40px;">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 1"></button>
   
  </div>
  <div class="carousel-inner"  style="width: 1420px; right: 70px;">

  {% for bannerproduct in banner %}

    <div class="carousel-item active" data-bs-interval="4000" style="top: 37px;">
      <img src="{{bannerproduct.image.url}}" style="width: auto; height: 700px; " class="d-block w-100" alt="..." >
      <div class="carousel-caption d-none d-md-block">
        <!--<h5 style="font-size: 40px; color: rgb(0, 140, 255); font-family: comic Sans MS;">{{bannerproduct.title}}</h5>-->
       <!--<p>{{bannerproduct.description}}</p> --> 
       <a href="{% url 'cart' %}" class="btn btn-primary addtocart" style="  border-color: rgb(237, 128, 3); background-color: rgba(251, 8, 8, 0.649); position: relative; right: -50px; padding-left: 34px; padding-right: 34px; border-radius: 50%; bottom: 20px;" data-action = "add" data-product = "{{bannerproduct.id}}" ><p style="color: aliceblue; font-size: 12px;"><br>😋<br>Saborear<br>Agora!</p></a>
       
      </div>
    </div>
  
  {% endfor %}

  </div>
  <button class="carousel-control-prev" style="width: 4%;" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next"  style="width: 4%;" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </button>


  <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
    <br>
    <!--
    <p data-aos="fade-up" data-aos-delay="100">Carne bovina acebolada, frango, calabresa,<br> batata frita, molho rose, farofa e vinagrete.</p>
    -->
    <div class="d-flex" data-aos="fade-up" data-aos-delay="300" >
      <a href="#menu" class="btn-book-a-table">Mais Opções!</a>


      <!-- video 1 -->
      <a href="https://instagram.fthe4-1.fna.fbcdn.net/o1/v/t16/f1/m17/CE458F428DCDCCF61279082D6D04FEAF_transcode_output_dashinit.mp4?efg=eyJxZV9ncm91cHMiOiJbXCJpZ193ZWJfZGVsaXZlcnlfdnRzX290ZlwiXSIsInZlbmNvZGVfdGFnIjoidnRzX3ZvZF91cmxnZW4uNTQyLnN0b3J5LmRlZmF1bHQifQ&_nc_ht=instagram.fthe4-1.fna.fbcdn.net&_nc_cat=108&vs=17911565974550481_356352493&_nc_vs=HBksFQIYWGlnX3N0b3JpZXNfcGVybWFuZW50X3Byb2QvQ0U0NThGNDI4RENEQ0NGNjEyNzkwODJENkQwNEZFQUZfdHJhbnNjb2RlX291dHB1dF9kYXNoaW5pdC5tcDQVAALIAQAVABgkR0FWVXh3Zm9LRGN6SmI4QUFKWnBLb3BUZS1JWmJwa3dBQUFGFQICyAEAKAAYABsBiAd1c2Vfb2lsATEVAAAmov%2F%2BmK2e0T8VAigCQzMsF0ApRBiTdLxqGBJkYXNoX2Jhc2VsaW5lXzJfdjERAHXoBwA%3D&_nc_rid=7af33b4a6f&ccb=9-4&oh=00_AfBxfKHCjSAawE4YOyS0lD6g4rEoLLa4DfyqikVsX02rRQ&oe=63C75E0E&_nc_sid=276363" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Assista Videos</span></a>
      <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
      <a href="https://www.youtube.com/watch?v=lSv4iMNn_zM&ab_channel=SPLGAMES" class="glightbox play-btn"></a>
    
    </div>
    
  </div>


  </div>


  <!-- END CARROSSEL -->
      

    </div>
  </div>
  
</section><!-- End Hero Section -->



 




<section id="menu" class="menu">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      
      <p> <span>Menu</span></p>
      <!--- BARRA DE PESQUISA -->

      <form class="d-flex" role="search" method="POST" action="{% url 'search' %}">
        <!--<input class="form-control me-2" type="search" placeholder="Nome do produto" aria-label="Search" style="border-radius: 30px;">-->
          {% csrf_token %}
          {{search_form.name_of_produto}}
          <button class="btn btn-warning" type="submit" style="border-radius: 30px;">Pesquisar</button>
        </form>
  
        <!----   BARRA DE PESQUISA -->
    </div>




    <!---produtos--->


    <div class = 'container'>
      <div class = 'row'>
        {% for product in products %}
          
          <div class = 'col-md-4 col-lg-4'>
            <div class="card" style="width: 16rem; background-color: rgba(43, 43, 43, 0.0596);">
                <img src="{{product.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                 
                  <h4 class="card-text" style=" font-size: 27px; position: relative; left: 57px; color: rgb(255, 255, 255);">R$  {{product.price}}</h4>
                  <a  class="btn btn-primary addtocart" style="border-color: rgb(205, 79, 79); background-color: rgb(251, 8, 8); position: relative; left: 50px; width: 130px; height: 40px; border-radius: 40px; border-color: aliceblue;" data-action = "add" data-product = "{{product.id}}">🛒Adicionar</a>
                </div>
              </div>
          </div>
          {% endfor %}
    
          
        
    
          
    
         
    
      </div>
    </div>


    <!-----Produtos-->



  </div>

</section>








<section id="gallery" class="gallery section-gal">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      
      <p>Nossa <span>Galeria</span></p>
    </div>
  </div>

  <!--<div class="container" style="margin:150px auto; width:752px;">-->
    <div class="container" style="margin:150px auto; width:752px;">
    <div class="g_slide1" id="slides1">
      
      <div class="switch_main">
        {% for galeriafoto in galeria %} 
        <a class="item switch_item" href="#"><img src="{{galeriafoto.image.url}}" width="850px" height="450px" /></a>    
        {% endfor %}
      </div>
      
    </div>
  


    <script src="{% static 'js/jquery_1_11_3_min.js' %}"></script>
<script src = "{% static 'js/switchable.js' %}"></script>

<script>
$(function(){
  
  switchable({
    $element: $('#slides1')
    ,interval: 2000
    ,effect: 'fade'
  });
  
});
</script>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>






  
 
</section><!-- End Gallery Section -->




  
    
    


  
 <!-- Template Main JS File -->
 <script src="../static/js/main.js"></script>





{% endblock %}
